<a href="https://colab.research.google.com/github/shravani1029/2216111_AIML_BOOTCAMP/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Implement the methods of String with examples.

In [7]:
a="hii"
b="  hello my name is shravani"
print(a.upper())
print(b.lower())
c=a+b
print(c)
print(b.capitalize())
print(b.title())
d=a*2
print(d)
print(b.lstrip())
print(a.rstrip())
print(c.swapcase())

HII
  hello my name is shravani
hii  hello my name is shravani
  hello my name is shravani
  Hello My Name Is Shravani
hiihii
hello my name is shravani
hii
HII  HELLO MY NAME IS SHRAVANI

2.Implement the methods of List with examples

In [36]:
l1=[1,2,5]
l2=[4.0,3,"s",3.3]
l3=["s","h","r"]
l1.append(7)
print(l1)
l1.insert(2,9)
print(l1)
l2.extend([1,8])
print(l1)
print(l2)
l1.clear()
print(l1)
print(l3[1])
print(l3[0:2])
l3.reverse()
print(l3)
print(l2[::-1])
print(len(l2))
print(l2.count(3))
l2.remove("s")
print(l2)
l2.sort()
print(l2)

[1, 2, 5, 7]
[1, 2, 9, 5, 7]
[1, 2, 9, 5, 7]
[4.0, 3, 's', 3.3, 1, 8]
[]
h
['s', 'h']
['r', 'h', 's']
[8, 1, 3.3, 's', 3, 4.0]
6
1
[4.0, 3, 3.3, 1, 8]
[1, 3, 3.3, 4.0, 8]

3.Implement the methods of tuple with examples

In [42]:
t=(1,2,3,4)
t1=("hi",1.0,5)
t2=("k","h","s")
print(t2.count(1))
print(t.index(2))
print(max(t2))
print(min(t))
print(len(t1))
print(t2[1])

0
1
s
1
3
h

4. Implement the methods of Dictionary with examples.

In [44]:
d={'name':'shravani','phno':1234567890,'address':'wgl'}
print(d['name'])
print(d.keys())
print(d.values())
print(d.get('name'))

shravani
dict_keys(['name', 'phno', 'address'])
dict_values(['shravani', 1234567890, 'wgl'])
shravani

5. Implement the methods of Set with examples.

In [48]:
s={2,7,4,7}
s1={1,2,3,"s","hi",(5,6,7),("s")}
print(s1)
s.add(2)
print(s)
s.update([2,3,4])
print(s)
s1.discard(3)
print(s1)
s.remove(4)
print(s)

{1, 2, 3, (5, 6, 7), 's', 'hi'}
{2, 4, 7}
{2, 3, 4, 7}
{1, 2, (5, 6, 7), 's', 'hi'}
{2, 3, 7}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [50]:
dec = 277

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 277 is:
0b100010101 in binary.
0o425 in octal.
0x115 in hexadecimal.

7. Implement Arithmetic operators with examples

In [55]:
a=100
b=3
print(a+b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(a-b)

103
33.333333333333336
33
1
1000000
97

8. Implement Assignment operators with examples.

In [56]:
a = 5  
b = a  
print( "Output = ", b)

Output =  5

In [61]:
a=3
a+=5
print(a)
a-=1
a*=b
print(a)
print(b)
a/=b
print(a)
a**=b
print(a)
a%=b
print(a)

8
35
5
7.0
16807.0
2.0

9. Implement Comparison operators with examples

In [63]:
print("equal",a==b)
print("not equal",a!=b)
print("grater",a>b)
print("less",a<b)
print("grater then equal to",a>=b)
print(a<=b)

equal False
not equal True
grater False
less True
grater then equal to False
True

10. Implement Logical operators with examples.

In [64]:
x=True
y=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x not is",not x)

x and y is False
x or y is True
x not is False

11. Implement Bitwise operators with examples

In [65]:
a=8
b=4
print(a&b)#AND
print(a^b)#XOR
print(a|b)#OR
print(~a)
print(a>>2)#right shift
print(a<<4)#left shift

0
12
12
-9
2
128

12. Implement Membership operators with examples.

In [66]:
x="welcome to sru"
y={1:'a',2:'b'}
print('H' in x)
print(1 in y)
print('a'in y)

False
True
False

13. Implement Identity operators with examples

In [67]:
a=5
b=5
x="Hello"
y="Hello"
s=[1,2,3]
h=[1,2,3]
print(x is not y)
print(a is b)
print(s is h)

False
True
False

14. Demonstrate Negative indexing for List and apply slicing

In [72]:
a=[1,2,4,5]
b=["s","h","r"]
print(a[-1])
print(b[-3])
print(a[0:2])
print(b[0:3:2])
print(a[-3:-1])

5
s
[1, 2]
['s', 'r']
[2, 4]

15. Predict the output for the given code snippet and justify the result.

In [75]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("..............")
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
..............
ot emoc

16. Write a python code to get desired output

In [74]:
b=input("enter string")
c=b[::-1]
print(c.upper())

enter stringhi this is shtavani
INAVATHS SI SIHT IH

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X.

In [76]:
x='z'
y='o'
x1=int(input('Enter how many times u want z'))
y1=2*x1
for i in range(0,x1):
  print(x,end='')
for i in range(0,y1):
  print(y,end='')

Enter how many times u want z3
zzzoooooo