<a href="https://colab.research.google.com/github/shravani1029/2216111_AIML_BOOTCAMP/blob/main/npl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_json("/content/drive/MyDrive/dataset.json",lines=True)

In [2]:
df.head()

,content,annotation,extras
0,Get fucking real dude.,"{'notes': '', 'label': ['1']}",NaN
1,She is as dirty as they come and that crook ...,"{'notes': '', 'label': ['1']}",NaN
2,why did you fuck it up. I could do it all day...,"{'notes': '', 'label': ['1']}",NaN
3,Dude they dont finish enclosing the fucking s...,"{'notes': '', 'label': ['1']}",NaN
4,WTF are you talking about Men? No men thats n...,"{'notes': '', 'label': ['1']}",NaN

In [3]:
df.isnull().sum()

content           0
annotation        0
extras        20001
dtype: int64

In [4]:
df.shape

(20001, 3)

In [5]:
df["label"] = df.annotation.apply(lambda x: x.get('label'))
df["label"] = df.label.apply(lambda x: x[0])

In [6]:
df

,content,annotation,extras,label
0,Get fucking real dude.,"{'notes': '', 'label': ['1']}",NaN,1
1,She is as dirty as they come and that crook ...,"{'notes': '', 'label': ['1']}",NaN,1
2,why did you fuck it up. I could do it all day...,"{'notes': '', 'label': ['1']}",NaN,1
3,Dude they dont finish enclosing the fucking s...,"{'notes': '', 'label': ['1']}",NaN,1
4,WTF are you talking about Men? No men thats n...,"{'notes': '', 'label': ['1']}",NaN,1
...,...,...,...,...
19996,I dont. But what is complaining about it goi...,"{'notes': '', 'label': ['0']}",NaN,0
19997,Bahah yeah i&;m totally just gonna&; get pis...,"{'notes': '', 'label': ['0']}",NaN,0
19998,hahahahaha >:) im evil mwahahahahahahahahaha,"{'notes': '', 'label': ['0']}",NaN,0
19999,What&;s something unique about Ohio? :),"{'notes': '', 'label': ['0']}",NaN,0
20000,Who is the biggest gossiper you know?,"{'notes': '', 'label': ['0']}",NaN,0

In [7]:
df = df.drop(['annotation','extras'],axis='columns')

In [8]:
df

                                                 content label
0                                 Get fucking real dude.     1
1       She is as dirty as they come  and that crook ...     1
2       why did you fuck it up. I could do it all day...     1
3       Dude they dont finish enclosing the fucking s...     1
4       WTF are you talking about Men? No men thats n...     1
...                                                  ...   ...
19996    I dont. But what is complaining about it goi...     0
19997   Bahah  yeah i&;m totally just gonna&; get pis...     0
19998       hahahahaha >:) im evil mwahahahahahahahahaha     0
19999            What&;s something unique about Ohio? :)     0
20000              Who is the biggest gossiper you know?     0

[20001 rows x 2 columns]

In [9]:
#Load the data
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1:].values

In [10]:
X

array([[' Get fucking real dude.'],
       [" She is as dirty as they come  and that crook Rengel  the Dems are so fucking corrupt it's a joke. Make Republicans look like  ..."],
       [" why did you fuck it up. I could do it all day too. Let's do it when you have an hour. Ping me later to sched writing a book here."],
       ...,
       ['  hahahahaha >:) im evil mwahahahahahahahahaha'],
       [' What&;s something unique about Ohio? :)'],
       [' Who is the biggest gossiper you know?']], dtype=object)

In [11]:
Y

array([['1'],
       ['1'],
       ['1'],
       ...,
       ['0'],
       ['0'],
       ['0']], dtype=object)

In [12]:
#Splitting the data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1,shuffle=True)

In [13]:
X_train.shape

(16000, 1)

In [14]:
X_test.shape

(4001, 1)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()
#Transform the Training data into freqq vectors and return the matrix
training_data=count_vector.fit_transform(X_train.flatten())
#Transform the Testing data into freq vectors and return the matrix
testing_data=count_vector.transform(X_test.flatten())

LOGISTIC REGRESSION

In [16]:
from sklearn.linear_model import LogisticRegression
a=LogisticRegression()
a.fit(training_data,Y_train)
y_pred=a.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",a.score(training_data,Y_train)*100)
print("Predicted value for testing data:",a.score(testing_data,Y_test)*100)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['1' '0']
 ['1' '1']]
Predicted value for training data: 93.28125
Predicted value for testing data: 82.50437390652337

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, y_pred) 
print("confusion matrix for testing data")
print(cm) 
accuracy_score(Y_test, y_pred) #TN FN FP TP
print("confusion matrix for traning data")
cm1=confusion_matrix(Y_train,a.predict(training_data))
print(cm1)

confusion matrix for testing data
[[1965  437]
 [ 263 1336]]
confusion matrix for traning data
[[9193  584]
 [ 491 5732]]

In [18]:
TN=cm[0:1,:-1]
TP=cm[0:1,-1:]
FN=cm[1:,:-1]
FP=cm[1:,-1:]
TN1=cm1[0:1,:-1]
TP1=cm1[0:1,-1:]
FN1=cm1[1:,:-1]
FP1=cm1[1:,-1:]
TN2=TN+TN1
TP2=TP+TP1
FP2=FP+FP1
FN2=FN+FN1
accuracy=(TP2+TN2)/(TP2+TN2+FP2+FN2)
print(accuracy)

[[0.61]]

KNN

In [19]:
from sklearn.neighbors import KNeighborsClassifier
b=KNeighborsClassifier()
b.fit(training_data,Y_train)
y_pred=b.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",b.score(training_data,Y_train)*100)
print("Predicted value for testing data:",b.score(testing_data,Y_test)*100)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['0' '0']
 ['1' '1']]
Predicted value for training data: 81.46875
Predicted value for testing data: 69.85753561609597

navie bayes

In [20]:
from sklearn.naive_bayes import MultinomialNB
c=MultinomialNB()
c.fit(training_data,Y_train)
y_pred=c.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",c.score(training_data,Y_train)*100)
print("Predicted value for testing data:",c.score(testing_data,Y_test)*100)

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['0' '0']
 ['1' '1']]
Predicted value for training data: 88.2125
Predicted value for testing data: 79.33016745813546

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVM

In [21]:
from sklearn.svm import SVC
d=SVC()
d.fit(training_data,Y_train)
y_pred=d.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",d.score(training_data,Y_train)*100)
print("Predicted value for testing data:",d.score(testing_data,Y_test)*100)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['0' '0']
 ['1' '1']]
Predicted value for training data: 96.00625000000001
Predicted value for testing data: 87.95301174706324

In [ ]:
DECISION TREE

In [22]:
from sklearn.tree import DecisionTreeClassifier
e=DecisionTreeClassifier()
e.fit(training_data,Y_train)
y_pred=e.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",e.score(training_data,Y_train)*100)
print("Predicted value for testing data:",e.score(testing_data,Y_test)*100)

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['1' '0']
 ['1' '1']]
Predicted value for training data: 99.56875
Predicted value for testing data: 85.40364908772807

RANDOM FOREST

In [23]:
from sklearn.ensemble import RandomForestClassifier
f=RandomForestClassifier()
f.fit(training_data,Y_train)
y_pred=f.predict(testing_data)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))
print("Predicted value for training data:",f.score(training_data,Y_train)*100)
print("Predicted value for testing data:",f.score(testing_data,Y_test)*100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[['1' '0']
 ['0' '0']
 ['0' '1']
 ...
 ['0' '0']
 ['0' '0']
 ['1' '1']]
Predicted value for training data: 99.56875
Predicted value for testing data: 92.32691827043239

In [24]:
TN=2202+9740
FN=200+37
FP=91+32
TP=1508+6191
accuracy=(TP+TN)/(TP+TN+FN+FP)
print(accuracy*100)

98.20008999550024